.artist_name{
    display: flex;
    font-size: 2.0rem;
    margin: 50px 0px 50px 0px;
    flex-direction: column;
    align-items: center;
}

h1{
    color: white;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 15px;
  }
  
  .container img {
    width: 100%;
    height: auto;
    display: block;
    transition: all 100ms ease-out;
  }
  
  .container img:hover {
    transform: scale(1.04);
  }