.artist_name{
    display: flex;
    font-size: 2.0rem;
    margin: 50px 0px 50px 0px;
    flex-direction: column;
    align-items: center;
}

.header{
  margin-bottom: 10px;
}

h1{
    color: white;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 15px;
    margin: 30px 12rem;
  }
  
  .container img {
    width: 100%;
    height: 100%;
    display: block;
    transition: all 100ms ease-out;
  }
  
  .container img:hover {
    transform: scale(1.04);
  }

  @media only screen and (max-width: 700px) {
    html {
      scroll-snap-type: y mandatory;
    }

    .main_container{
      display: grid;
      place-items: center;
      height: 100vh;
    }

    .container {
      position: relative;
      height: 100vh;
      width: 70%;
      border-radius: 20px;
      max-width: 450px;
      max-height: 500px;
      overflow: scroll;
      scroll-snap-type: y mandatory;
    }

    .appFeed{
      position: relative;
      width: 100%;
      height: 100%;
      scroll-snap-align: start;
    }

    .igVideo{
      border: 1px solid black;
      border-radius: 20px;
      object-fit: fill;
      width: 100%;
      height: 100%;
    }

    .igImage{
      border: 1px solid black;
      border-radius: 20px;
      object-fit: fill;
      max-width: 100%;
      max-height: 100%;
    }

    .container::-webkit-scrollbar{
      display: none;
    }

   
  }