.bg-img{
    position: absolute;
    z-index: -1;
    top: 0;
    left: -23rem;
    opacity: 0.5;
    margin-top: 5rem;
}

.App-header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-logo{
    height: 80px;
    width: 80px;
}

.form_body{
    display: flex;
    justify-content: center;
    margin: 5px 5px;
    border: 1px solid white;
}