button{
    background-color: red;
}

.App-Body{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 300px;
    margin-bottom: 300px;
}