.img1{
    width: 150px;
    height: 200px;
    border-radius: 15%;
    margin-top: 15px;
}

.img2{
    width: 150px;
    height: 200px;
    border-radius: 15%;
}

.App-Artists{
    position: relative;
    border: 1px solid white;
    margin-bottom: 10px;
}

.bg_img{
    position: absolute;
    z-index: -1;
    top: 0;
    right: -22rem;
    opacity: 0.5;
    
}


.artists{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 200px;
    padding-bottom: 200px;
    border-radius: 1px solid white;
}

.card1{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
    
}

.card2{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
}

.section-heading{
    color: red;
}

button{
    background-color: red;
    color: white;
    text-decoration: none;
    width: 200px;
    height: 50px;   
    text-decoration: underline;
}